nodered/flows_vision.json
[
    {
        "id": "seedy_vision_to_influxdb",
        "type": "tab",
        "label": "Seedy Vision → InfluxDB",
        "disabled": false,
        "info": "Flujo de datos: MQTT vision events → parse → InfluxDB. Seedy Fase 7.",
        "env": []
    },
    {
        "id": "vision_events_influx",
        "type": "subflow",
        "name": "Vision Events → InfluxDB",
        "info": "Recibe eventos de detección desde MQTT y escribe en InfluxDB.",
        "category": "seedy",
        "in": [{"x": 60, "y": 100, "wires": [{"id": "parse_event"}]}],
        "out": [{"x": 680, "y": 100, "wires": [{"id": "write_event", "port": 0}]}]
    },
    {
        "id": "mqtt_vision_events",
        "type": "mqtt in",
        "z": "seedy_vision_to_influxdb",
        "name": "seedy/vision/events",
        "topic": "seedy/vision/events",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [["parse_vision_event"]]
    },
    {
        "id": "mqtt_vision_weights",
        "type": "mqtt in",
        "z": "seedy_vision_to_influxdb",
        "name": "seedy/vision/weights",
        "topic": "seedy/vision/weights",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [["parse_weight_event"]]
    },
    {
        "id": "mqtt_vision_alerts",
        "type": "mqtt in",
        "z": "seedy_vision_to_influxdb",
        "name": "seedy/vision/alerts/#",
        "topic": "seedy/vision/alerts/#",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 340,
        "wires": [["parse_alert_event"]]
    },
    {
        "id": "parse_vision_event",
        "type": "function",
        "z": "seedy_vision_to_influxdb",
        "name": "Parse Detection Event",
        "func": "// Evento de detección → formato InfluxDB\nconst d = msg.payload;\n\nmsg.payload = [{\n    measurement: 'animal_detections',\n    tags: {\n        camera_id: d.camera_id || 'unknown',\n        farm_id: d.farm_id || 'unknown'\n    },\n    fields: {\n        n_detections: d.n_detections || 0,\n        inference_ms: d.inference_ms || 0,\n        event_id: d.event_id || ''\n    },\n    timestamp: new Date(d.timestamp || Date.now())\n}];\n\n// Añadir conteos por especie\nconst species = d.species_counts || {};\nfor (const [sp, count] of Object.entries(species)) {\n    msg.payload.push({\n        measurement: 'species_counts',\n        tags: {\n            camera_id: d.camera_id || 'unknown',\n            farm_id: d.farm_id || 'unknown',\n            species: sp\n        },\n        fields: {\n            count: count\n        },\n        timestamp: new Date(d.timestamp || Date.now())\n    });\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [["influx_write_detections"]]
    },
    {
        "id": "parse_weight_event",
        "type": "function",
        "z": "seedy_vision_to_influxdb",
        "name": "Parse Weight Event",
        "func": "// Evento de peso → formato InfluxDB\nconst d = msg.payload;\n\nmsg.payload = [{\n    measurement: 'weight_estimates',\n    tags: {\n        camera_id: d.camera_id || 'unknown',\n        farm_id: d.farm_id || 'unknown',\n        species: d.species || 'unknown',\n        calibrated: String(d.calibrated || false)\n    },\n    fields: {\n        weight_kg: d.weight_kg || 0,\n        confidence: d.confidence || 0\n    },\n    timestamp: new Date(d.timestamp || Date.now())\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [["influx_write_weights"]]
    },
    {
        "id": "parse_alert_event",
        "type": "function",
        "z": "seedy_vision_to_influxdb",
        "name": "Parse Alert Event",
        "func": "// Alerta de comportamiento → formato InfluxDB\nconst d = msg.payload;\n\nmsg.payload = [{\n    measurement: 'behaviour_alerts',\n    tags: {\n        camera_id: d.camera_id || 'unknown',\n        farm_id: d.farm_id || 'unknown',\n        species: d.species || 'unknown',\n        behaviour: d.behaviour || 'unknown',\n        severity: d.severity || 'info'\n    },\n    fields: {\n        confidence: d.confidence || 0,\n        duration_s: d.duration_s || 0,\n        alert_id: d.alert_id || ''\n    },\n    timestamp: new Date(d.timestamp || Date.now())\n}];\n\n// Alerta crítica → Telegram\nif (d.severity === 'alert') {\n    const teleMsg = {\n        payload: `🚨 ALERTA VISION\\n` +\n                 `Cámara: ${d.camera_id}\\n` +\n                 `Granja: ${d.farm_id}\\n` +\n                 `Comportamiento: ${d.behaviour}\\n` +\n                 `Especie: ${d.species}\\n` +\n                 `Confianza: ${(d.confidence * 100).toFixed(0)}%\\n` +\n                 `Duración: ${d.duration_s}s`\n    };\n    node.send([msg, teleMsg]);\n    return;\n}\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [["influx_write_alerts"], ["telegram_alert"]]
    },
    {
        "id": "influx_write_detections",
        "type": "influxdb batch",
        "z": "seedy_vision_to_influxdb",
        "influxdb": "influx_config",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "Write Detections",
        "database": "seedy_iot",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "neofarm",
        "bucket": "seedy_iot",
        "x": 650,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "influx_write_weights",
        "type": "influxdb batch",
        "z": "seedy_vision_to_influxdb",
        "influxdb": "influx_config",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "Write Weights",
        "database": "seedy_iot",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "neofarm",
        "bucket": "seedy_iot",
        "x": 650,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "influx_write_alerts",
        "type": "influxdb batch",
        "z": "seedy_vision_to_influxdb",
        "influxdb": "influx_config",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "Write Alerts",
        "database": "seedy_iot",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "neofarm",
        "bucket": "seedy_iot",
        "x": 650,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "telegram_alert",
        "type": "function",
        "z": "seedy_vision_to_influxdb",
        "name": "Format Telegram",
        "func": "// Preparar para nodo Telegram o HTTP POST\nconst text = msg.payload;\nmsg.payload = {\n    chatId: env.get('TELEGRAM_CHAT_ID'),\n    type: 'message',\n    content: text\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 650,
        "y": 400,
        "wires": [["telegram_send"]]
    },
    {
        "id": "telegram_send",
        "type": "http request",
        "z": "seedy_vision_to_influxdb",
        "name": "Telegram API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-seedy-vision",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "birthQos": "0",
        "closeQos": "0",
        "willQos": "0",
        "birthPayload": "",
        "closePayload": "",
        "willPayload": "",
        "birthMsg": {},
        "closeMsg": {},
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "seedy_iot",
        "name": "InfluxDB Seedy",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "inject_5min",
        "type": "inject",
        "z": "seedy_vision_to_influxdb",
        "name": "Every 5 min",
        "props": [{"p": "payload"}],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 480,
        "wires": [["aggregate_stats"]]
    },
    {
        "id": "aggregate_stats",
        "type": "function",
        "z": "seedy_vision_to_influxdb",
        "name": "Aggregate Vision Stats",
        "func": "// Cada 5 minutos: consulta las últimas detecciones y agrega\n// En producción, esto consulta InfluxDB directamente\nconst now = new Date();\nconst fiveMinAgo = new Date(now - 5 * 60 * 1000);\n\nmsg.payload = [{\n    measurement: 'vision_heartbeat',\n    tags: {\n        service: 'nodered-vision'\n    },\n    fields: {\n        status: 1,\n        uptime_s: Math.floor(process.uptime())\n    },\n    timestamp: now\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 400,
        "y": 480,
        "wires": [["influx_write_heartbeat"]]
    },
    {
        "id": "influx_write_heartbeat",
        "type": "influxdb batch",
        "z": "seedy_vision_to_influxdb",
        "influxdb": "influx_config",
        "precision": "ms",
        "retentionPolicy": "",
        "name": "Write Heartbeat",
        "database": "seedy_iot",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "neofarm",
        "bucket": "seedy_iot",
        "x": 650,
        "y": 480,
        "wires": [[]]
    }
]
